{
  "openapi": "3.1.0",
  "info": {
    "title": "StylePay Gateway API",
    "description": "API organizada nas rotas Carteira e Pix",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.stylepay.com.br/api/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/carteira/pix-payment": {
      "post": {
        "description": "Criar pagamento PIX",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PixPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pagamento criado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PixPaymentResponse"
                }
              }
            }
          }
        }
      }
    },

    "/carteira/request-qrcode": {
      "post": {
        "description": "Gera um QR Code PIX para pagamento",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QrCodeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "QR Code gerado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QrCodeResponse"
                }
              }
            }
          }
        }
      }
    },

    "/pix/balance": {
      "get": {
        "description": "Retorna o saldo da carteira PIX",
        "responses": {
          "200": {
            "description": "Saldo retornado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Balance"
                }
              }
            }
          }
        }
      }
    },

    "/pix/transaction": {
      "get": {
        "description": "Lista transações PIX",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de transações",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Transaction"
                  }
                }
              }
            }
          }
        }
      }
    }
  },

  "components": {
    "schemas": {

      "Balance": {
        "type": "object",
        "properties": {
          "balance": {
            "type": "number"
          }
        }
      },

      "Transaction": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "amount": { "type": "number" },
          "status": { "type": "string" },
          "created_at": { "type": "string" }
        }
      },

      "PixPaymentRequest": {
        "type": "object",
        "properties": {
          "amount": { "type": "number" },
          "description": { "type": "string" }
        }
      },

      "PixPaymentResponse": {
        "type": "object",
        "properties": {
          "payment_id": { "type": "string" },
          "status": { "type": "string" }
        }
      },

      "QrCodeRequest": {
        "type": "object",
        "properties": {
          "amount": { "type": "number" }
        }
      },

      "QrCodeResponse": {
        "type": "object",
        "properties": {
          "qrcode": { "type": "string" },
          "pix_code": { "type": "string" }
        }
      },

      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "integer" },
          "message": { "type": "string" }
        }
      },

      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
